<div>
    <h2>Your cart</h2>

    <div class="container flex-row" *ngIf="cartItems.length else emptyCart">
        <div class="row d-flex">
            <div class="col-3" *ngFor="let item of cartItems">
                <app-cart-item  [item]="item" (removeItem)="onRemoveItem($event)"></app-cart-item>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>Items in cart: {{itemsInCart}}</p>
                <p>Total price: {{totalSum}}</p>
            </div>
        </div>
    </div>

    <ng-template #emptyCart>
        <h3>You have no items in your cart</h3>
    </ng-template>
</div>
